@using HW4._27.ImageUpload.Web.Models;
@using HW4._27.ImageUpload.Data;
@model HomePageViewModel;

<div class="row row-cols-1 row-cols-md-2 g-4">

	@foreach (Image image in Model.Images)
	{
		<div class="col">
			<div class="card">
				<img src=" /images/@image.ImagePath" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">
						<a href="/home/imagepage?id=@image.Id">@image.Title</a>
						</h5>
					<p class="card-subtitle likes">
						<i class="bi bi-hand-thumbs-up">Likes:</i>
						<span id="likecount-@image.Id"></span>
						<button class="btn btn-outline-primary" id="likeimage" data-image-id="@image.Id">Like this image!</button>
					</p>
					<p class="card-text"><small class="text-body-secondary">Posted on @image.DateSubmitted.ToLongDateString() at @image.DateSubmitted.ToShortTimeString()</small></p>
				</div>
			</div>
		</div>
	}

</div>

@section Scripts{
	<script src="/js/images.js"></script>
}
